
div#play-1 {
  background-repeat: no-repeat;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQku4Tdo1W7vE3SANAS93bmfoBBddu3luV5ri22kl0YOH3Ej8hyrA");
  background-size: cover;
}

div#play-2 {
  background-repeat: no-repeat;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQku4Tdo1W7vE3SANAS93bmfoBBddu3luV5ri22kl0YOH3Ej8hyrA");
  background-size: cover;
}

div#play-3 {
  background-repeat: no-repeat;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQku4Tdo1W7vE3SANAS93bmfoBBddu3luV5ri22kl0YOH3Ej8hyrA");
  background-size: 100%;
}

div.wrapper-2 {
  display: none;
  background: rgba(169, 48, 44, 0.7);
  animation-name: colorchange-2;
  animation-duration: 1s;
}

div.wrapper-2 h4 {
  margin: 0;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

div.wrapper-2 p {
  color: white;
}

@keyframes colorchange-2 {
  0% {
    background: rgba(16, 73, 169, 0);
  }
  100% {
    background: rgba(169, 48, 44, 0.7);
  }
}

.hover {
  position: relative;
}

.hover:hover .wrapper-2 {
  display: block;
  width: 100%;
  height: 100%;
}

div.play-info {
  padding: 30px;
}

div.play-name {
  padding: 10px 0 10px 0;
  width: 100px;
  text-align: center;
  background-color: #a94156;
  color: white;
  font-size: 18px;
  position: absolute;
 
}

.hover:hover .play-name {
  display: none;
}
